body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    min-height: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.mynav-link {
    color: #FFFFFF;
    text-decoration: none !important;
}

.mynav-link:hover {
    color: #CC0000 !important;
}

.slider {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.slider-items-1 {
    color: #FFFFFF;
    padding-top: 40vh;
    font-family: 'Roboto Condensed', sans-serif;
}

.my-logo {
    max-height: 80px;
}

.navbar-toggler {
    background: rgba(255, 255, 255, 0.3) !important;
}

.nav-light {
    background: rgba(255, 255, 255, 0.8) !important;
}

.nav-trans {
    transition: background-color .2s ease-in-out;
}

.page-footer {
    color: white;
}

.deep-red {
    background-color: #b62a25 !important;
}

@media screen and (min-width: 992px) {
    .dropdown .dropdown-menu {
        -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
        -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
        -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
        -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
        transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }
    .dropdown:hover>.dropdown-menu {
        -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
        -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
        -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
        -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
        transition: max-height 0.3s, opacity 0.2s, visibility 0s;
        max-height: 500px;
        opacity: 1;
        visibility: visible;
    }
}

.dropdown-menu {
    background: rgba(72, 8, 8, 0.8);
    border: none;
}

@media screen and (max-width: 992px) {
    .dropdown-menu.show {
        margin-bottom: 30vh;
    }
}

.dropdown-item {
    transition: all .2s ease;
    min-height: 40px;
    color: #ffffff;
    padding-top: 5%;
}

.dropdown-item:hover {
    color: #730c0c;
    background: #ffffff;
}

.dropdown-toggle::after {
    display: none;
}

.quick-access-items {
    color: white;
    min-height: 200px;
    vertical-align: middle;
    padding: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

.quick-access-items a.btn {
    margin-top: 10%;
}

.quick-access .quick-access-items.row-1:nth-child(1) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/akha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quick-access .quick-access-items.row-1:nth-child(2) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Dara-ang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quick-access .quick-access-items.row-1:nth-child(3) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hmong.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quick-access .quick-access-items.row-1:nth-child(4) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Kachin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.quick-access .quick-access-items.row-1:nth-child(5) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Karen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.quick-access .quick-access-items.row-2:nth-child(1) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Lahu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.quick-access .quick-access-items.row-2:nth-child(2) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/lisu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.quick-access .quick-access-items.row-2:nth-child(3) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Yao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.quick-access .quick-access-items.row-2:nth-child(4) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Moken.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.quick-access .quick-access-items.row-2:nth-child(5) {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/lawa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.header-content {
    min-height: 400px;
    height: 35vh;
    display: flex;
    align-items: center;
    line-height: 30%;
    color: white;
}

.header-content .container h1 {
    font-size: 4em;
    line-height: 75%;
}

.content {
    padding: 20px;
    background-color: #f4f7f7;
}

@media screen and (max-width: 992px) {
    .col-content {
        padding: 0px !important;
    }
    .content {
        padding: 0px !important;
    }
}

.ethnics-title {
    background-color: #a6172d;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 2%;
}

.card-text {
    text-indent: 5%;
}

.card {
    border-radius: 0px;
    border: 0px;
}

.ethnics-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
    color: #FFFFFF;
    font-weight: bold;
    background: #730c0c;
    border-radius: 0px !important;
}

.size-changer {
    display: inline;
    float: right;
    font-size: 0.5em;
}

.footer-menu {
    text-indent: 0px;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.footer-menu li a {
    text-indent: 0px;
    padding-left: 5px;
    margin: 0px;
}

.footer-menu li {
    margin: 0px;
}

.list-group-item.active {
    background-color: #48120e;
    border: 0px;
}