body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.navbar {
    min-height: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.mynav-link {
    color: #FFFFFF;
    text-decoration: none !important;
}

.mynav-link:hover {
    color: #CC0000 !important;
}

.slider {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    min-height: 100vh;
}

.slider-items-1 {
    color: #FFFFFF;
    padding-top: 40vh;
    font-family: 'Roboto Condensed', sans-serif;
}

.my-logo {
    max-height: 80px;
}

.nav-light {
    background:rgba(255,255,255,0.8) !important;
}

.nav-trans {
    transition: background-color .2s ease-in-out;
}

.page-footer {
    color:white;
}

.deep-red {
    background-color: #b62a25 !important;
}

.quick-access-items {
    color: white;
    min-height: 200px;
    vertical-align: middle;
    padding: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

.quick-access .quick-access-items.row-1:nth-child(1) {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/akha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
    -moz-transition: 2s;
    -webkit-transition: 2s;
}

.quick-access .quick-access-items.row-1:nth-child(1):hover {
    background-color: #006;
    transition: 2s;
    -moz-transition: 2s;
    -webkit-transition: 2s;
}

.quick-access-items button {
    margin-top: 20%;
}

.quick-access .quick-access-items.row-1:nth-child(2) {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/Dara-ang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}